<div class="first-line">
  <img src="<%= avatar_url %>" class="creator-avatar" alt="">

  <div class="icons-container">
    <i class="icon <%= icon %>"></i>
    <a href="#" class="star-item"><i class="icon <% if (is_starred) { %>icon-star<% } else { %>icon-star-empty<% } %>"></i></a>
  </div>

  <div class="summary">
    <%= creator_name %>
    <%= summary %>
  </div>

  <div class="meta-infos">
    <p>
      <i class="icon-time"></i>
      <%= created_date_presented %>
    </p>

    <p>
      <i class="icon-suitcase"></i>
      <%= bucket.name %>
    </p>
  </div>
</div>

<div class="second-line clearfix">
  Loading...
</div>
