<div class="options-view">
  <div class="title">
    <h1>Basecamp Notifier Options</h1>
  </div>

  <div class="flash"></div>

  <div class="options">
    <h2>Select the listened accounts</h2>

    <div class="accounts">
    </div>

    <button>Save Configs</button>
  </div>
</div>
