<div id="tab-container" class="tab-container">
  <ul class="etabs">
    <li class="tab"><a href="#tabs1-accounts">Listened Accounts</a></li>
    <li class="tab"><a href="#tabs2-events">Ignored Events</a></li>
    <li class="tab" style="display:none;"><a href="#tabs2-projects">Ignored Projects</a></li>
  </ul>

  <div id="tabs1-accounts" class="tab-content active">
  </div>

  <div id="tabs2-events" class="tab-content">
  </div>

  <div id="tabs2-projects" class="tab-content">
  </div>
</div>

<div class="control-buttons">
  <button id="save">Save Configs and Close</button>
  <button id="logout">Logout and Close</button>
</div>
