body {
  background: url(../img/paper.png);
  font-family: helvetica, arial, sans-serif !important;
}

.container {
  border-radius: 8px;
  background: #fff;
  width: 500px;
  -webkit-box-shadow: 0px 0px 5px rgba(00, 00, 00, 0.2);
  border: 1px solid #CCC;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -250px;
  margin-bottom: 40px;
}

.extra {
  color: #000;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

.extra p {
  margin-top: 10px;
}

.title {
  border-bottom: 1px solid #dddddd;
  padding: 18px;
}

h1 {
  color: #7D7A75;
  font-weight: bold;
  font-size: 18px;
}

.options {
  padding: 18px;
}

.options h2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox-ctn {
  margin-bottom: 10px;
  font-size: 12px;
}

input[type=submit] {
  font-family: "Lucida Grande","Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  padding: 2px 10px;
  margin: -1px 0 0;
  background: white;
  color: black;
  border: 1px solid #CCC;
  -webkit-box-shadow: 0px 1px 0px #DDD;
  vertical-align: top;
  -webkit-appearance: none;
  border-radius: 5px;
  cursor: pointer;
}

.flash {
  padding: 8px 18px;
  background: #FFFBF1;
  font-size: 11px;
  border-bottom: 1px dotted #F0E1B9;
  display: none;
}

.load-view {
  padding: 20px;
  text-align: center;
}

.checkbox-ctn {
  margin-bottom: 8px;
}

.checkbox-ctn label {
  font-size: 13px;
}

.content {
  padding: 20px;
  padding-bottom: 0;
}

.etabs {
  margin: -10px -10px 15px -10px;
  padding-left: 5px;
  position: relative;
  overflow: hidden;
}

.etabs:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  z-index: 0;
  border-bottom: 1px solid #DDD;
}

.etabs .tab {
  float: left;
  margin-right: 1px;
  position: relative;
  z-index: 1;
}

.etabs .tab a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 10px;
  border: 1px solid #DDD;
  border-bottom: 0;
  font-size: 12px;
  text-decoration: none;
  display: block;
  line-height: 30px;
}

.etabs .tab.active a {
  border-bottom: 1px solid #fff;
}

.tab-content {
  font-size: 13px;
}

.tab-content h2 {
  font-size: 16px;
  font-weight: bold;
  color: #2C2C2C;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #EBEBEB;
}

.control-buttons {
  margin: 20px -10px 0 -10px;
  border-top: 1px solid #DDD;
  padding: 15px 10px 0 10px;
}

.share-icons {
  position: absolute;
  bottom: 15px;
  right: 20px;
  text-align: center;
}

.share-icons p {
  color: #7d7d7d;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.share-icons a {
  text-decoration: none;
}

.share-icons img {
  margin: 0 6px;
}
