body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #5E9AC9;
}

strong {
  font-weight: bold;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#configs_button {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 7px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.load-more {
  margin-left: 319px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 130px;
}

.button {
  height: 24px;
  padding: 0 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-family: "Lucida Grande","Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 11px;
  background: white;
  color: black;
  border: 1px solid #CCC;
  -webkit-box-shadow: 0px 1px 0px #DDD;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lucida Grande","Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 12px;
}

#content {
  max-height: 500px;
  overflow: auto;
  width: 800px;
  position: relative;
}

h1 {
  font-size: 12px;
  font-weight: bold;
  font-weight: light;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0px;
  border-bottom: 2px solid #F0ECE1;
  border-top: 2px solid #F0ECE1;
  background: #f8f4e9;
  margin-bottom: 1px;
}

h1:first-child {
  margin-top: 0;
}

.notification-list li {
  border-bottom: 1px dotted #EBE8E0;
  margin-bottom: 1px;
  text-shadow: 1px 1px 0px #FFF;
  line-height: 30px;
  overflow: hidden;
}

.icons-container {
  z-index: 3;
  position: relative;
  width: 40px;
  text-align: center;
  font-size: 15px;
  margin-right: 5px;
  color: #E9E5DA;
  display: inline-block;
}

.icons-container i {
  width: 15px;
  display: inline-block;
}

.icons-container a {
  margin-left: 2px;
  text-decoration: none;
  color: #E9E5DA;
}

.icons-container a:hover i:before {
  content: "\f005";
}

.summary {
  padding-left: 28px;
  position: relative;
  z-index: 2;
  display: inline-block;
}

.comment-view {
  background: #FFF4F0;
  border-top: 2px solid #FFD0D0;
  box-sizing: border-box;
  padding: 10px 10px 32px 10px;
  position: relative;
  min-height: 80px;
  clear: both;
}

.comment-view .creator-avatar {
  top: 10px;
  background: #fff;
  position: absolute;
}

.comment-view a {
  color: #000;
}

.comment-view .bottom-link {
  margin-top: 2px;
  margin-left: 10px;
  float: right;
  font-weight: bold;
  color: #9FA786;
  text-decoration: none;
}

.comment-view .ballon {
  position: relative;
  background: #FFF;
  line-height: 18px;
  padding: 10px 13px;
  margin: 0 0  0 70px;
  border-radius: 8px;
}

.comment-view .ballon:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: rgba(0, 0, 0, 0) #FFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 13px;
}

.comment-view .time {
  display: block;
  margin-top: 6px;
  font-size: 9px;
  color: #9C9B9B;
  line-height: 11px;
  text-align: right;
}

.first-line {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 5px;
}

.first-line .creator-avatar {
  z-index: 1;
  position: absolute;
  top: 4px;
  left: 45px;
  opacity: 0.5;
  height: 24px;
}

.creator-avatar {
  border-radius: 50%;
}

.notification-list li:hover {
  background: #FDFCF8;
}

.notification-list li:hover .creator-avatar {
  opacity: 1;
}

.notification-list li:hover .icon {
  color: #CCC3AA;
}

.notification-list .project {
  font-size: 10px;
  float: right;
}

.notification-list li:last-child {
  border-bottom: none;
}

.notification-list .user {
  color: #ababab;
}

.notification-list .new {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BCFECC), color-stop(50%,#95FFAE), color-stop(51%,#8afda5), color-stop(100%,#B7FFC8));
  text-shadow: 1px 1px 0px #b7ffc8;
  border-bottom: 1px solid #8cffa7;
}

.notification-list .no-items {
  text-align: center;
  font-size: 14px;
  color: #F7CFCF;
}

.notification-list .new .user {
  color: #25cd4d;
}

.notification-list small {
  font-size: 9px;
  font-style: italic;
}

.unread .icon {
  color: #81A56E;
}

.unread .icon,
.unread .summary {
  font-weight: bold;
}

.etabs {
  margin: 5px 0 0 0;
  padding-left: 5px;
  position: relative;
  overflow: hidden;
}

.etabs:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  z-index: 0;
  border-bottom: 1px solid #DDD;
}

.etabs .tab {
  float: left;
  margin-right: 1px;
  position: relative;
  z-index: 1;
}

.etabs .tab a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 10px;
  border: 1px solid #DDD;
  border-bottom: 0;
  font-size: 11px;
  text-decoration: none;
  display: block;
  line-height: 24px;
  color: #000;
}

.etabs .tab.active a {
  border-bottom: 1px solid #fff;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.meta-infos {
  margin-left: 77px;
  margin-top: -8px;
}

.meta-infos p {
  float: left;
  margin-right: 15px;
  font-size: 10px;
  line-height: 30px;
  color: #C5BCA7;
}
